---
---
@import "bootstrap.min.css";

/* .nav-link .nav-item{
 borders
}

.jumbotron{
shadowing?
} */

.wrapper{
  padding-top: .5em;
}

.card{
  margin: 0 1em;
}

img{
  max-width: 100%;
}

h1{
  margin: 0.5em 0;
}
